.cat-info {
  display: flex;
}

.cat-info img {
  margin-top: 10px;
  margin-right: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  color:cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.error {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.breed-select {
  max-width: 300px;
}
