.cat-info {
  display: flex;
}

.cat-info img {
  margin-right: 15px;
}

.cat-info h2 {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  color:cadetblue
}

.error {
  color: red;
}
